* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(../images/bg.jpg);
}

.main-header {
  display: grid;
  grid-template-columns: .5fr 1fr;
  grid-gap: 0px;
  margin-bottom: 10px;
  height: 20vh;
  margin: 10px;
}

.mainlogo {
  width: 10vw;
  background-image: url(../images/logo.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: column;
}

.logo {
  background-image: url(../images/logo.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.menu a {
	text-decoration: none;
}

.menu {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	padding: 0px;
	margin: 0px;
	grid-gap: 10px;
  background-color: pink;
  height: 7vh;
  width: 87.5vw;
}

.menu li {
	color: white;
	font-family: Gotham;
	list-style: none;
	padding: 10px;
  padding-top: 15px;
  padding-left: 10px;
	font-size: 15px;
	text-align: center;
}

li:hover {
  opacity: 0.5;
 	filter: alpha(opacity=50);
}

.separator {
  grid-gap: 10px;
  padding-top: 30px;
  margin-bottom: 10px;
}

.makeup {
  background-color: #fcbfae;
  height: 7vh;
  margin-bottom: 10px;
  margin: 10px;
}

h2 {
  font-family: Helvetica;
  text-align: center;
  padding: 10px;
  color: white;
}

.product1 {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 10px;
  height: 50vh;
  margin: 20px;
  margin-bottom: 10px;
}

.product2 {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 10px;
  height: 50vh;
  margin: 20px;
  margin-bottom: 10px;
}

.product3 {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 10px;
  height: 50vh;
  margin: 20px;
  margin-bottom: 10px;
}

.product4 {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 10px;
  height: 50vh;
  margin: 20px;
  margin-bottom: 20px;
}

.image1 {
  background-image: url(../images/blushfinal.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.image2 {
  background-image: url(../images/liptint2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.image3 {
  background-image: url(../images/lippie.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.image4 {
  background-image: url(../images/powder.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.description {
  background-color: #b7d9d8a8;
  border-radius: 15px 50px;
  height: 50vh;
  margin-bottom: 10px;
}

.footer {
  background-color: #fcbfae;
  height: 5vh;
  margin: 10px;
}

#footer {
  padding: 10px;
  color: white;
  text-align: center;
}

#description {
  font-family: Gotham;
  font-size: 19px;
  color: black;
  padding-top: 0px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 0px;
  text-align: justify;
  margin-bottom: 30px;
}

h1 {
  font-family: Gotham;
  padding-top:10px;
  padding-left:10px;
  padding-right:10px;
  color: Black;
}

#price {
  font-family: Gotham;
  text-align: left;
  color: black;
}

.buy {
    background: white;
    border-radius: 2px;
    box-shadow: 0 0 15px grey;
    padding: 10px 20px;
    padding-top: 10px;
    font-family: Gotham;
    color: #492b09;
    margin-left: 850px;
}

.buy {
    text-decoration: none;
}

.buy:hover {
  opacity: .8;
}
