* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(../images/bg.jpg);
  background-size: contain;
}

.main-header {
  display: grid;
  grid-template-columns: .5fr 1fr;
  grid-gap: 0px;
  margin-bottom: 10px;
  height: 20vh;
  margin: 10px;
}

.mainlogo {
  width: 10vw;
  background-image: url(../images/logo.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: column;
}

.menu a {
	text-decoration: none;
}

.menu {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	padding: 0px;
	margin: 0px;
	grid-gap: 10px;
  background-color: pink;
  height: 7vh;
  width: 86.5vw;
}

.menu li {
	color: white;
	font-family: Gotham;
	list-style: none;
	padding: 10px;
  padding-top: 15px;
  padding-left: 10px;
	font-size: 15px;
	text-align: center;
}

li:hover {
  opacity: 0.5;
 	filter: alpha(opacity=50);
}

.separator {
  grid-gap: 10px;
  padding-top: 30px;
  margin-bottom: 10px;
}

li:hover {
  opacity: 0.5;
 	filter: alpha(opacity=50);
}

.title {
  background-color: #a5a7d0;
  height: 20vh;
  margin: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 10.5vw;
  box-shadow: 5px 10px #e9c977;
  margin: 10px;
  width: 10.5vw;
  box-shadow:5px 5px 20px 10px pink inset;
}

.faq {
  display: grid;
  grid-template-columns: .25fr 4fr;
  grid-gap: 0px;
}

#faq {
  text-align: left;
  font-size: 20px;
  font-family: Gotham;
  color: white;
  padding-top: 10px;
  padding-left: 10px;
  margin: 10px;
}

#faq {
  text-align: left;
  font-size: 20px;
  font-family: Gotham;
  color: white;
  padding-top: 10px;
  padding-left: 10px;
}

h1 {
  text-align: center;
  font-size: 20px;
  font-family: Gotham;
  color: white;
  padding-top: 10px;
}

p {
  font-family: Verdana;
  font-size: 15px;
  color: black;
  margin: 10px;
  text-align: justify;
}

.menu2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  height: 5vh;
  width: 50vw;
  margin: 10px;
  border: 10px;

}

.menu2 li {
  background: #8fd3d0;
	color: white;
	font-family: Verdana;
	list-style: none;
  height: 5vh;
  width: 20vw;
	font-size: 20px;
  padding: 10px;
  padding-top: 10px;
  padding-left: 0px;
	text-align: center;
  margin-bottom: 10px;
  opacity: .7;
}

.menu2 li:hover {
  opacity: .9;
}

.menu2 a {
	text-decoration: none;
}

.title2 {
  background-color: #fcbfae;
  height: 7vh;
  margin-bottom: 10px;
  margin: 10px;
}

.question {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.firstquestion {
  height:30vh;
  background-color: #dbc499;
  margin-bottom: 10px;
  margin-left: 20px
}

.secondquestion {
  height:30vh;
  background-color: #dbc499;
  margin-bottom: 10px;
  margin-right: 20px;
}

.title3 {
  background-color: #fcbfae;
  height: 7vh;
  margin: 10px;
  margin-bottom: 10px;

}

.questiontitle {
  height: 10vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  margin: 10px;
}

.q1 {
  background-color: #ebd7af;
  margin-left: 10px;
  height: 10vh;
}

h2 {
  color: white;
  margin: 10px;
  padding: 10px;
  font-family: Gotham;
}

.q2 {
  background-color: #ebd7af;
  margin-right: 10px;
  height: 10vh;
}

.thirdquestion {
  background-color: #97d6cf;
  margin-bottom: 10px;
  margin-left: 20px;
  height: 30vh;
}

.q3 {
  background-color: #97cfcf;
  margin-left: 20px;
}

.q4 {
  background-color: #97cfcf;
  margin-right: 20px;
}

h2 {
  font-family: Helvetica;
  padding: 20px;
  text-align: center;
}

p {
  font-family: Verdana;
  padding: 20px;
}

a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  opacity: .5;
}

.footer {
  background-color: #fcbfae;
  height: 5vh;
  margin: 10px;
}

#footer {
  padding: 10px;
  color: white;
  text-align: center;
}
